<!-- wp:template-part {"slug":"header","theme":"vpinunf","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"vpinunf-frontpage","layout":{"type":"default"}} -->
<main class="wp-block-group vpinunf-frontpage">

    <!-- wp:vpinunf/home-slider {"autoplayDelay":5000,"effect":"fade","loop":true,"showNavigation":true,"showPagination":true} /-->

    <!-- wp:vpinunf/home-investigation /-->

    <!-- wp:vpinunf/about-section /-->

    <!-- wp:vpinunf/home-events /-->

    <!-- wp:vpinunf/home-production /-->

    <!-- wp:vpinunf/recent-posts {"title":"Últimas Noticias","numberOfPosts":3} /-->

    <!-- wp:vpinunf/logo-partners /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"vpinunf","tagName":"footer"} /-->
